<% if (settings.port != 80  && settings.port != 1182 && settings.root_path.indexOf(settings.port) < 0) {settings.root_path += ':' + settings.port; } %>
<div style="direction:rtl">
    <div align="center"><font face="arial"><br><br></font></div>
    <table width="600" border="0" align="center" cellpadding="0" cellspacing="0" dir="rtl">
        <tbody>
        <tr>
            <td>
             <img src="http://dev6.linnovate.net:1181/images/betichut.JPG" style="width: 34%;">
             <img src="http://dev6.linnovate.net:1181/images/TA_Municipality.png" style="width: 34%;">
       
                <p>שלום,
                </p>

                <p></p>

                <p>תודה על הרשמתך וברוך הבא לאתר . אנא לחץ
                    <%
                        var activationPath = settings.index_path + '?redir=' + encodeURIComponent(settings.root_path + "/account/activation?code=" + user.validation_code + "&id=" + user.id  + "&next=" + encodeURIComponent(next || ''));
                    %>
                    <a href="<%= activationPath %>">
                        כאן
                    </a>
 לאישור
                    הרשמתך לאתר.</p>

                <p>לאחר האישור תוכל להשתתף באופן פעיל במערכת.</p>

                <p>
                    סיסמת הכניסה שלך למערכת היא
                    <%= temp_password %>
                </p>
                <p>
                    אפשר להחליף אותה ולבחור סיסמא אישית
                    <%
                        var resetPassPath = settings.index_path + '?redir=' + encodeURIComponent(settings.root_path + "/account/reset_password?code=" + user.validation_code + "&id=" + user.id  + "&next=" + encodeURIComponent(next || ''));

                    %>
                    <a href="<%= resetPassPath %>">
                        כאן
                    </a>
                </p>


                <p>&nbsp;תודה,</p>

                <p>צוות האתר</p>
                </td>
        </tr>
        </tbody>
    </table>
    <br>
</div>